body {
	margin: 0 10px;
       width:560px;
       font: 76% "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
	border-top: 10px solid #000;
	border-bottom: 50px solid #000;
   }
h1 {
	font-size: 200%;
	margin: 0;
}
h1 span {
	font-size: 50%;
	font-weight: normal;
	vertical-align: super;
}
h2 {
	font-size:  150%;
}
h3 {
	font-size: 110%;
}
a {
	color: #666;
}
a:hover {
	color: #999;
}
#content p {
	margin: 0;				
}
.nav {
	background: #eee;
	border-top: 1px solid #ccc;
}

.examples {
	border: 1px solid #666;
	margin: 10px 0;
}
.nav {
	padding: 5px;
}
.nav a {
	padding: 0 5px;
}
.nav a.highlight {
	color: #000;
	font-weight: bold;
}
.examples p {
	padding: 5px;
	margin: 0;
}
pre {
    font-size: 120%;
}
.hr {
    border-top: 1px solid #000;
}
.hr hr {
    display: none;
}
dt {
       font-weight: bold;
   }
dd.default {
	color: #666;
}
#rikrikrik {
	margin: 10px 0 0 0;
}
#rikrikrik a {
	margin-bottom: 0;
	background: #099;
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	padding: 0px 2px;
}